@mixin easing($time) {
  -webkit-transition: all $time cubic-bezier(0.310, 0.210, 0.000, 0.935);
  -moz-transition: all $time cubic-bezier(0.310, 0.210, 0.000, 0.935);
  -o-transition: all $time cubic-bezier(0.310, 0.210, 0.000, 0.935);
  transition: all $time cubic-bezier(0.310, 0.210, 0.000, 0.935);

  -webkit-transition-timing-function: cubic-bezier(0.310, 0.210, 0.000, 0.935);
  -moz-transition-timing-function: cubic-bezier(0.310, 0.210, 0.000, 0.935);
  -o-transition-timing-function: cubic-bezier(0.310, 0.210, 0.000, 0.935);
  transition-timing-function: cubic-bezier(0.310, 0.210, 0.000, 0.935);
}
