<header>
    <nav>
        <section class="container-fluid">
            <div id="logo" class="pull-left">
                <a href="#">
                    <img src="{{assets}}images/logo.jpg" alt="">
                </a>
            </div>

            <ul class="pull-right">
                <li><a href="#">VART KONCEPT</a></li>
                <li><a href="#">VART NAT</a></li>
                <li><a href="#">JAG VILL FIBER</a></li>
                <li><a href="#">OM OSS</a></li>
                <li><a href="#">VILLKOR</a></li>
                <li><a href="#">FRAGA OSS</a></li>

                <li class="user-profile">
                    <a href="#">
                        <img src="{{assets}}images/user.jpg" alt="">
                    </a>
                </li>
            </ul>
        </section>
    </nav>


</header>