---
layout : default.html
title : Huddunge - Telekom | Global
---
<main>
    <section id="sidebar-top" class="hide-sidebar-top">

        <div class="row">
            <div class="col-md-6 col-md-offset-6">
                <div class="btn-group">
                    <button class="darkBlue">Inventory</button>
                    <button class="darkBlue">Work Allocation</button>
                    <button class="darkBlue">Summary</button>
                </div>
            </div>
        </div>
        <div class="divider"></div>

        <div class="row" style="margin:0px;">
            <div class="col-sm-3">

                <section>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>
                                Status of Subscriber
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <div class="dropdown">
                                <button data-toggle="dropdown">
                                    <span class="box"></span>
                                    <span class="value">
                                        All
                                    </span>
                                    <span class="glyphicon glyphicon-menu-down"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>Select</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>
                                Well type
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <div class="dropdown">
                                <button data-toggle="dropdown">
                                    <span class="box"></span>
                                    <span class="value">
                                        All
                                    </span>
                                    <span class="glyphicon glyphicon-menu-down"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>Select</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
            <div class="col-sm-3">

                <section>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>
                                Status of Well
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <div class="dropdown">
                                <button data-toggle="dropdown">
                                    <span class="box"></span>
                                    <span class="value">
                                        All
                                    </span>
                                    <span class="glyphicon glyphicon-menu-down"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>Select</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>
                                Cabel type
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <div class="dropdown">
                                <button data-toggle="dropdown">
                                    <span class="box"></span>
                                    <span class="value">
                                        All
                                    </span>
                                    <span class="glyphicon glyphicon-menu-down"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>Select</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
            <div class="col-sm-3">

                <section>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>
                                Status of Trench
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <div class="dropdown">
                                <button data-toggle="dropdown">
                                    <span class="box"></span>
                                    <span class="value">
                                        All
                                    </span>
                                    <span class="glyphicon glyphicon-menu-down"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>Select</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>
                                Pipe type
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <div class="dropdown">
                                <button data-toggle="dropdown">
                                    <span class="box"></span>
                                    <span class="value">
                                        All
                                    </span>
                                    <span class="glyphicon glyphicon-menu-down"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>Select</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
            <div class="col-sm-3">

                <section>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>
                                Connection type
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <div class="dropdown">
                                <button data-toggle="dropdown">
                                    <span class="box"></span>
                                    <span class="value">
                                        All
                                    </span>
                                    <span class="glyphicon glyphicon-menu-down"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>Select</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-9">

                            <button class="lightGreen">
                                Save
                            </button>


                        </div>
                    </div>
                </section>

            </div>
        </div>


        <a href="#" class="toggle-sidebar-top">
            <span class="glyphicon glyphicon-menu-up"></span>
        </a>
    </section>
    <section id="sidebar-left" class="hide-sidebar-left ">
        <section class="user-info">
            <a href="#" class="toggle-sidebar-left">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </a>
            <img src="{{assets}}images/user.jpg" alt="">
            <h3>
                Leo Padazakos<br>
                <span>
                    Mina uppgifter
                </span>
            </h3>
        </section>
        <section class="menu-left">
            <nav>
                <ul>
                    <li class=""><a href="#"><span class="glyphicon glyphicon-wrench"></span> Projects</a>
                        <ul>
                            <li><a href="#"><span class="glyphicon glyphicon-star"></span> Haga</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-star"></span> Harbo</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-star"></span> Harbo centrait</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-star"></span> Rasbo Osta</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><span class="glyphicon glyphicon-king"></span> Work Leaders</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-info-sign"></span> Mina uppgifter</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Contracts</a></li>
                </ul>
            </nav>
        </section>
    </section>
    <section id="google-map-canvas"></section>
    <section id="sidebar-right" class="hide-sidebar-right">
        <!-- tab navigation-->
        <ul class="nav nav-tabs" role="tablist">
            <li><a href="#" class="toggle-sidebar-right"><span class="glyphicon glyphicon-menu-right"></span></a></li>
            <li class="active"><a href="#home" data-toggle="tab"><span class="glyphicon glyphicon-home"></span></a></li>
            <li><a href="#team" data-toggle="tab"><span class="glyphicon glyphicon-cog"></span></a></li>
        </ul>
        <!-- Tab panes -->
        <section class="tab-content">
            <div class="tab-pane active" id="home">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#global-parameters" data-toggle="tab">Global Parameters</a></li>
                    <li><a href="#parameters" data-toggle="tab">Parameters for <span>Project Name</span></a></li>
                </ul>
                <div class="tab-content">
                    <section class="tab-pane active" id="global-parameters">
                        <!-- nodes-->
                        <section>
                            <h4 class="active">
                                Nodes <span class="glyphicon glyphicon-menu-down"></span>
                            </h4>
                            <div id="nodes">
                                <div class="type-of-nodes">
                                    <div class="frame">
                                        <label>Types of node</label>

                                        <div class="row">
                                            <div class="col-sm-5">
                                                <p>
                                                    Types of node
                                                </p>
                                            </div>
                                            <div class="col-sm-5 dropdown ">
                                                <button data-toggle="dropdown">
                                                    <span class="value">UP50</span> <span
                                                        class="glyphicon glyphicon-menu-down"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>UP50</li>
                                                    <li>UP60</li>
                                                    <li>UP70</li>
                                                    <li>UP80</li>
                                                    <li>UP90</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-1 colour-picker ">
                                                <span class="current"></span>
                                            </div>
                                            <div class="col-sm-1 icon-add">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </div>


                                        </div>
                                        <div class="divider"></div>

                                        <div class="row">
                                            <span class="badge">
                                                <span class="value">UP50</span>
                                                <span class="current"></span>
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </span>
                                            <span class="badge">
                                                <span class="value">UP70</span>
                                                <span class="current"></span>
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </span>
                                            <span class="badge">
                                                <span class="value">UP80</span>
                                                <span class="current"></span>
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </span>
                                        </div>

                                    </div>

                                </div>
                                <div class="prefix-label">
                                    <div class="frame">
                                        <label>Prefix Label</label>
                                        <div class="row">
                                            <div class="col-sm-7">
                                                <p>
                                                    Prefix label of Nodes
                                                </p>
                                            </div>
                                            <div class="col-sm-5">
                                                <input type="text" id="" value="W">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-7">
                                                <p>
                                                    Prefix label of Trench
                                                </p>
                                            </div>
                                            <div class="col-sm-5">
                                                <input type="text" id="" value="T">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-7">
                                                <p>
                                                    Prefix label of Central Nodes
                                                </p>
                                            </div>
                                            <div class="col-sm-5">
                                                <input type="text" id="" value="C">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="central-node">
                                    <div class="frame">
                                        <label>Central Node</label>
                                        <div class="row">
                                            <div class="col-sm-7">
                                                <p>
                                                    Select colour of central node
                                                </p>
                                            </div>
                                            <div class="col-sm-5 dropdown">
                                                <button data-toggle="dropdown"><span class="value">Value</span> <span
                                                        class="glyphicon glyphicon-menu-down"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <span class="shapes">shape name</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- pipes-->
                        <section>
                            <h4>
                                Pipes <span class="glyphicon glyphicon-menu-down"></span>
                            </h4>
                            <div id="pipes">
                                <div class="type-of-pipes">
                                    <div class="frame">
                                        <label>Types of pipes</label>
                                        <div class="row row1">
                                            <div class="col-sm-4">
                                                <p>
                                                    <small>&nbsp;</small>
                                                </p>
                                                <p>
                                                    Types of pipes used
                                                </p>
                                            </div>
                                            <div class="col-sm-2 dropdown ">
                                                <p>
                                                    <small>Diameter</small>
                                                </p>
                                                <button data-toggle="dropdown">
                                                    <span class="value">20</span> <span
                                                        class="glyphicon glyphicon-menu-down"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>30</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-3 dropdown ">
                                                <p>
                                                    <small>Types</small>
                                                </p>
                                                <button data-toggle="dropdown">
                                                    <span class="value">PFM100</span> <span
                                                        class="glyphicon glyphicon-menu-down"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>PFM200</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-2 dropdown mm ">
                                                <p>
                                                    <small>mm</small>
                                                </p>
                                                <button data-toggle="dropdown">
                                                    <span class="value">
                                                        <span class="line blue"></span>
                                                    </span>
                                                    <span
                                                            class="glyphicon glyphicon-menu-down"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><span class="line blue"></span></li>
                                                    <li><span class="line red"></span></li>
                                                    <li><span class="line green"></span></li>

                                                </ul>
                                            </div>
                                            <div class="col-sm-1 icon-add">
                                                <p>
                                                    <small>&nbsp;</small>
                                                </p>
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </div>
                                        </div>
                                        <div class="divider"></div>
                                        <div class="row row2">
                                            <div class="col-sm-5">
                                            </div>
                                            <div class="col-sm-2 dropdown ">
                                                <p>
                                                    <small>Diameter</small>
                                                </p>

                                            </div>
                                            <div class="col-sm-1 text-label">

                                            </div>
                                            <div class="col-sm-3 dropdown ">
                                                <p>
                                                    <small>Default use</small>
                                                </p>

                                            </div>
                                            <div class="col-sm-1 icon-close">
                                            </div>
                                        </div>
                                        <div class="row row2">
                                            <div class="col-sm-5">
                                                <p>
                                                    <span>PFM100 16mm</span>
                                                    <span class="line blue"></span>
                                                </p>
                                            </div>
                                            <div class="col-sm-2 dropdown ">

                                                <button data-toggle="dropdown">
                                                    <span class="value">20</span> <span
                                                        class="glyphicon glyphicon-menu-down"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>30</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-1 text-label">
                                                <p>
                                                    m
                                                </p>
                                            </div>
                                            <div class="col-sm-3 dropdown ">

                                                <button data-toggle="dropdown">
                                                    <span class="value">Subscribers</span>
                                                    <span class="glyphicon glyphicon-menu-down"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>PFM200</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-1 icon-close">

                                                 <span class="badge">
                                                        <span class="glyphicon glyphicon-plus"></span>
                                                 </span>
                                            </div>
                                        </div>
                                        <div class="row row2">
                                            <div class="col-sm-5">
                                                <p>
                                                    <span>PFM100 16mm</span>
                                                    <span class="line red"></span>
                                                </p>
                                            </div>
                                            <div class="col-sm-2 dropdown ">

                                                <button data-toggle="dropdown">
                                                    <span class="value">20</span> <span
                                                        class="glyphicon glyphicon-menu-down"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>30</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-1 text-label">

                                                <p>
                                                    m
                                                </p>
                                            </div>
                                            <div class="col-sm-3 dropdown ">

                                                <button data-toggle="dropdown">
                                                    <span class="value">Subscribers</span>
                                                    <span class="glyphicon glyphicon-menu-down"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>PFM200</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-1 icon-close">

                                                 <span class="badge">
                                                        <span class="glyphicon glyphicon-plus"></span>
                                                 </span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row row3">
                                            <div class="col-sm-2"></div>
                                            <div class="col-sm-6">
                                                <p>
                                                    Pipe overshoot length:
                                                </p>
                                            </div>
                                            <div class="col-sm-3">
                                                <input type="text" value="2">
                                            </div>
                                            <div class="col-sm-1 text-label">
                                                <p>
                                                    m
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- cabels-->
                        <section>
                            <h4 class="active">
                                Cables <span class="glyphicon glyphicon-menu-down"></span>
                            </h4>
                            <div id="cabels">
                                <div class="type-of-cables">
                                    <div class="frame">
                                        <label>Types of cables</label>
                                        <div class="row">
                                            <div class="col-sm-7">
                                                <p>
                                                    Types of node
                                                </p>
                                            </div>
                                            <div class="col-sm-4 dropdown ">
                                                <button data-toggle="dropdown">
                                                    <span class="value">4</span> <span
                                                        class="glyphicon glyphicon-menu-down"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>UP50</li>
                                                    <li>UP60</li>
                                                    <li>UP70</li>
                                                    <li>UP80</li>
                                                    <li>UP90</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-1 icon-add">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </div>
                                        </div>
                                        <div class="divider"></div>
                                        <div class="row">
                                            <span class="badge">
                                                <span class="value">4 cores</span>
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </span>
                                            <span class="badge">
                                                <span class="value">12 cores</span>
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </span>
                                             <span class="badge">
                                                <span class="value">24 cores</span>
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </span>
                                             <span class="badge">
                                                <span class="value">24 cores</span>
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Measurement-->
                        <section>
                            <h4>
                                Measurement <span class="glyphicon glyphicon-menu-down"></span>
                            </h4>
                            <div id="measurement">
                                <div class="type-of-measurement">
                                    <div class="frame">
                                        <label>Measurement - Power loss & attenuation</label>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p>
                                                    Prefix label of Nodes
                                                </p>
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="text" id="" value="4">
                                            </div>
                                            <div class="col-sm-1 text-label">
                                                <p>db</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p>
                                                    Prefix label of Nodes
                                                </p>
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="text" id="" value="4">
                                            </div>
                                            <div class="col-sm-1 text-label">
                                                <p>db</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p>
                                                    Prefix label of Nodes
                                                </p>
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="text" id="" value="4">
                                            </div>
                                            <div class="col-sm-1 text-label">
                                                <p>db</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--Closures-->
                        <section>
                            <h4>
                                Closures <span class="glyphicon glyphicon-menu-down"></span>
                            </h4>
                            <div id="closures">
                                <div class="type-of-closures">
                                    <div class="frame">
                                        <label>Closures</label>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <p>
                                                    Select closure
                                                </p>
                                            </div>
                                            <div class="col-sm-2 dropdown ">
                                                <button data-toggle="dropdown">
                                                    <span class="value">4</span> <span
                                                        class="glyphicon glyphicon-menu-down"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>UP50</li>
                                                    <li>UP60</li>
                                                    <li>UP70</li>
                                                    <li>UP80</li>
                                                    <li>UP90</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-2 dropdown ">
                                                <button data-toggle="dropdown">
                                                    <span class="value">4</span> <span
                                                        class="glyphicon glyphicon-menu-down"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>UP50</li>
                                                    <li>UP60</li>
                                                    <li>UP70</li>
                                                    <li>UP80</li>
                                                    <li>UP90</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-3 dropdown ">
                                                <button data-toggle="dropdown">
                                                    <span class="value">4</span> <span
                                                        class="glyphicon glyphicon-menu-down"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>UP50</li>
                                                    <li>UP60</li>
                                                    <li>UP70</li>
                                                    <li>UP80</li>
                                                    <li>UP90</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-1 icon-add">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </div>
                                        </div>
                                        <div class="divider"></div>
                                        <div class="row">
                                            <table cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td>4 cables</td>
                                                    <td>4 cores</td>
                                                    <td>HS 350</td>
                                                    <td>
                                                        <div class="icon-close">
                                                             <span class="badge">
                                                        <span class="glyphicon glyphicon-plus"></span>
                                                 </span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>4 cables</td>
                                                    <td>4 cores</td>
                                                    <td>HS 350</td>
                                                    <td>
                                                        <div class="icon-close">
                                                             <span class="badge">
                                                        <span class="glyphicon glyphicon-plus"></span>
                                                 </span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>4 cables</td>
                                                    <td>4 cores</td>
                                                    <td>HS 350</td>
                                                    <td>
                                                        <div class="icon-close">
                                                             <span class="badge">
                                                        <span class="glyphicon glyphicon-plus"></span>
                                                 </span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>4 cables</td>
                                                    <td>4 cores</td>
                                                    <td>HS 350</td>
                                                    <td>
                                                        <div class="icon-close">
                                                             <span class="badge">
                                                        <span class="glyphicon glyphicon-plus"></span>
                                                 </span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </section>
                    </section>
                    <section class="tab-pane" id="parameters">
                        <section>
                            <h4 class="active">
                                Pipes <span class="glyphicon glyphicon-menu-down"></span>
                            </h4>
                            <div id="para-pipes">
                                <div class="select-pipe-types">
                                    <div class="frame">
                                        <label>Select pipe types</label>

                                        <div class="row">
                                            <div class="col-sm-2">
                                                <input type="checkbox">
                                            </div>
                                            <div class="col-sm-6">
                                                <p>
                                                    PFM100 16mm
                                                </p>
                                            </div>

                                            <div class="col-sm-3">
                                                <span class="line blue"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <input type="checkbox">
                                            </div>
                                            <div class="col-sm-6">
                                                <p>
                                                    PFM100 16mm
                                                </p>
                                            </div>

                                            <div class="col-sm-3">
                                                <span class="line red"></span>
                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </section>
                        <section>
                            <h4 class="active">
                                Cables <span class="glyphicon glyphicon-menu-down"></span>
                            </h4>
                            <div id="para-cables">
                                <div class="select-cable-types">
                                    <div class="frame">
                                        <label>Select available calbe types</label>

                                        <div class="row">
                                            <div class="col-sm-2">
                                                <input type="checkbox">
                                            </div>
                                            <div class="col-sm-4">
                                                <p>
                                                    PFM100 16mm
                                                </p>
                                            </div>
                                            <div class="col-sm-2">
                                                <input type="checkbox">
                                            </div>
                                            <div class="col-sm-4">
                                                <p>
                                                    PFM100 16mm
                                                </p>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <input type="checkbox">
                                            </div>
                                            <div class="col-sm-4">
                                                <p>
                                                    PFM100 16mm
                                                </p>
                                            </div>
                                            <div class="col-sm-2">
                                                <input type="checkbox">
                                            </div>
                                            <div class="col-sm-4">
                                                <p>
                                                    PFM100 16mm
                                                </p>
                                            </div>

                                        </div>


                                    </div>

                                </div>
                            </div>
                        </section>
                        <section>
                            <h4 class="active">
                                Measurement
                                <span class="glyphicon glyphicon-menu-down"></span>
                            </h4>
                            <div id="para-measurement">
                                <div class="select-measurement">
                                    <div class="frame">
                                        <label>Measurement - Power loss & attenuation</label>

                                        <div class="row">

                                            <div class="col-sm-7">
                                                <p>
                                                    Splice
                                                </p>
                                            </div>
                                            <div class="col-sm-3">
                                                <input type="text" value="4">
                                            </div>
                                            <div class="col-sm-1">
                                                <p>
                                                    db
                                                </p>
                                            </div>

                                        </div>
                                        <div class="row">

                                            <div class="col-sm-7">
                                                <p>
                                                    Connectors
                                                </p>
                                            </div>
                                            <div class="col-sm-3">
                                                <input type="text" value="4">
                                            </div>
                                            <div class="col-sm-1">
                                                <p>
                                                    db
                                                </p>
                                            </div>

                                        </div>
                                        <div class="row">

                                            <div class="col-sm-7">
                                                <p>
                                                    Total loss per subscriber
                                                </p>
                                            </div>
                                            <div class="col-sm-3">
                                                <input type="text" value="4">
                                            </div>
                                            <div class="col-sm-1">
                                                <p>
                                                    db
                                                </p>
                                            </div>

                                        </div>


                                    </div>

                                </div>
                            </div>
                        </section>

                        <section>
                            <h4 class="active">
                                Layers
                                <span class="glyphicon glyphicon-menu-down"></span>
                            </h4>
                            <div class="swiper-container parameter-layer">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">

                                        <table>
                                            <tr>
                                                <td><span class="glyphicon glyphicon-eye-open"></span></td>
                                                <td>Select All</td>
                                            </tr>
                                            <tr>
                                                <td><span class="glyphicon glyphicon-eye-open"></span></td>
                                                <td>
                                                    AG - Localities
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span class="glyphicon glyphicon-eye-open"></span></td>
                                                <td>AI - Real properties/joint properties, ID-points</td>
                                            </tr>
                                            <tr>
                                                <td><span class="glyphicon glyphicon-eye-open"></span></td>
                                                <td>AK - Municipalities</td>
                                            </tr>
                                            <tr>
                                                <td><span class="glyphicon glyphicon-eye-open"></span></td>
                                                <td>AL - Administrative boundaries</td>
                                            </tr>
                                            <tr>
                                                <td><span class="glyphicon glyphicon-eye-open"></span></td>
                                                <td>AM - Joint properties presented with centre line</td>
                                            </tr>
                                            <tr>
                                                <td><span class="glyphicon glyphicon-eye-open"></span></td>
                                                <td>AN - Counties</td>
                                            </tr>
                                            <tr>
                                                <td><span class="glyphicon glyphicon-eye-open"></span></td>
                                                <td>AO - Other administrative boundaries</td>
                                            </tr>
                                            <tr>
                                                <td><span class="glyphicon glyphicon-eye-open"></span></td>
                                                <td>AP - Real properties/joint properties, points</td>
                                            </tr>
                                            <tr>
                                                <td><span class="glyphicon glyphicon-eye-open"></span></td>
                                                <td>AQ - Surveyed boundary points</td>
                                            </tr>
                                            <tr>
                                                <td><span class="glyphicon glyphicon-eye-open"></span></td>
                                                <td>AR - Register figures</td>
                                            </tr>
                                            <tr>
                                                <td><span class="glyphicon glyphicon-eye-open"></span></td>
                                                <td>AS - Administrative symbols</td>
                                            </tr>
                                            <tr>
                                                <td><span class="glyphicon glyphicon-eye-open"></span></td>
                                                <td>AT - Administrative name</td>
                                            </tr>
                                            <tr>
                                                <td><span class="glyphicon glyphicon-eye-open"></span></td>
                                                <td>AX - Large-scale register figures</td>
                                            </tr>
                                            <tr>
                                                <td><span class="glyphicon glyphicon-eye-open"></span></td>
                                                <td>AY - Real and joint properties</td>
                                            </tr>

                                        </table>


                                    </div>
                                </div>
                                <!-- Scroll Bar -->
                                <div class="swiper-scrollbar"></div>
                            </div>

                        </section>

                    </section>
                </div>
            </div>
            <div class="tab-pane team-content" id="team">
                <section>
                    <h4 class="active">
                        Team <span class="glyphicon glyphicon-menu-down"></span>
                    </h4>
                    <div id="newTeam">
                        <div class="create-new-team">
                            <div class="frame">
                                <label>Create new team</label>
                                <div class="row row1">
                                    <div class="col-sm-3">
                                        <p>
                                            Team name:
                                        </p>
                                    </div>
                                    <div class="col-sm-6 dropdown ">
                                        <button data-toggle="dropdown">
                                            <span class="value">UP50</span> <span
                                                class="glyphicon glyphicon-menu-down"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>UP50</li>
                                            <li>UP60</li>
                                            <li>UP70</li>
                                            <li>UP80</li>
                                            <li>UP90</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3 dropdown mm ">
                                        <button data-toggle="dropdown">
                                            <span class="value"> <span class="line red"></span></span> <span
                                                class="glyphicon glyphicon-menu-down"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <span class="line blue"></span>
                                            </li>
                                            <li>
                                                <span class="line red"></span>
                                            </li>
                                            <li>
                                                <span class="line green"></span>
                                            </li>
                                        </ul>
                                    </div>


                                </div>
                                <div class="row row2">
                                    <div class="jobtype">
                                        <div class="col-sm-3">
                                            <p>Job type:</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <ul>
                                                <li>
                                                    <input type="checkbox">
                                                    <label for="t"><p>
                                                        Trench digging
                                                    </p></label>
                                                </li>

                                                <li>
                                                    <ul>
                                                        <li><input type="checkbox" id="e"><label
                                                                for="e">Excavation</label>
                                                        </li>
                                                        <li><input type="checkbox" id="c"><label for="c">Chain
                                                            digging</label></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <div class="clearfix"></div>
                                            <ul>
                                                <li>
                                                    <input type="checkbox">
                                                    <label for="t"><p>
                                                        Subscriber installation
                                                    </p></label>
                                                </li>

                                                <li>
                                                    <ul>
                                                        <li><input type="checkbox" id="e"><label
                                                                for="e">Digging from the house to the node</label>
                                                        </li>
                                                        <li><input type="checkbox" id="c"><label for="c">
                                                            Drill a hole to the house</label></li>
                                                        <li><input type="checkbox" id="c"><label for="c">
                                                            Install a termination box</label></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li>
                                                    <input type="checkbox">
                                                    <label for="t"><p>
                                                        Blowers
                                                    </p></label>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li>
                                                    <input type="checkbox">
                                                    <label for="t"><p>
                                                        Splicers
                                                    </p></label>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li>
                                                    <input type="checkbox">
                                                    <label for="t"><p>
                                                        Measuring and documentation
                                                    </p></label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                                <div class="row row3">
                                    <div class="col-sm-4">
                                        <p>
                                            Work Leader
                                        </p>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="row row3">
                                    <div class="col-sm-4">
                                        <p>
                                            Email
                                        </p>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="row row3">
                                    <div class="col-sm-8 col-sm-offset-4">
                                        <button>
                                            Cancel
                                        </button>
                                        <button class="lightGreen">
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>

                <section>
                    <h4 class="active">
                        Team <span class="glyphicon glyphicon-menu-down"></span>
                    </h4>
                    <div id="created-team">
                        <div class="team-info">
                            <div class="frame">
                                <label>Create new team</label>

                                <div class="row">
                                    <table class="active">
                                        <tr class="t-header">
                                            <th>
                                                <span class="glyphicon glyphicon-menu-right"></span>
                                            </th>
                                            <th>Name of Team 01</th>
                                            <th>
                                                <span class="line long red"></span>
                                            </th>
                                            <th>
                                                <span class="badge">
                                                    <a href="#">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </a>
                                                </span>
                                            </th>
                                            <th>
                                                <span class="badge">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </span>
                                            </th>
                                        </tr>
                                        <tr class="t-body">
                                            <td colspan="5">
                                                <p>Excavation, Blowers  </p>
                                                <p> Name of the work leader  </p>
                                                <p>E-mail address</p>

                                            </td>
                                        </tr>
                                    </table>
                                    <table>
                                        <tr class="t-header">
                                            <th>
                                                <span class="glyphicon glyphicon-menu-right"></span>
                                            </th>
                                            <th>Name of Team 02</th>
                                            <th>
                                                <span class="line long blue"></span>
                                            </th>
                                            <th>
                                                <span class="badge">
                                                    <a href="#">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </a>
                                                </span>
                                            </th>
                                            <th>
                                                <span class="badge">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </span>
                                            </th>
                                        </tr>
                                        <tr class="t-body">
                                            <td colspan="5">
                                                <p>Excavation, Blowers  </p>
                                                <p> Name of the work leader  </p>
                                                <p>E-mail address</p>

                                            </td>
                                        </tr>
                                    </table>
                                    <table>
                                        <tr class="t-header">
                                            <th>
                                                <span class="glyphicon glyphicon-menu-right"></span>
                                            </th>
                                            <th>Name of Team 03</th>
                                            <th>
                                                <span class="line long green"></span>
                                            </th>
                                            <th>
                                                <span class="badge">
                                                    <a href="#">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </a>
                                                </span>
                                            </th>
                                            <th>
                                                <span class="badge">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </span>
                                            </th>
                                        </tr>
                                        <tr class="t-body">
                                            <td colspan="5">
                                                <p>Excavation, Blowers  </p>
                                                <p> Name of the work leader  </p>
                                                <p>E-mail address</p>

                                            </td>
                                        </tr>
                                    </table>

                                </div>

                            </div>

                        </div>
                    </div>
                </section>

            </div>
        </section>
    </section>
</main>