/**
 * @project - Huddunge Telekom
 * @category - SASS / CSS
 * @date -5th March 2016
 * @author - Shan Dhiviyarajan - <prashasoft@gmail.com>
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
body {
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  font-family: "Open Sans", sans-serif; }

button {
  text-align: center;
  font-weight: bold;
  border: none;
  background: transparent;
  outline: 0; }

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #495058;
  border: thin solid #535d69;
  outline: 0;
  cursor: pointer; }
  input[type="checkbox"]:after {
    content: "\e013";
    position: relative;
    top: -1px;
    left: 4px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 100;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 10px;
    color: #495058;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease; }

input[type=checkbox]:checked:after {
  content: "\e013";
  position: relative;
  top: -1px;
  left: 4px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 100;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-size: 10px;
  color: #ababab; }

.blue {
  background: #1c81d7; }

.red {
  background: #df4c4c; }

.green {
  background: #31d577; }

button.darkBlue {
  background: #2f353c;
  color: #fff; }

button.lightGreen {
  background: #31d577;
  color: #fff; }

a {
  text-decoration: none; }
  a:visited, a:focus, a:link, a:active {
    text-decoration: none; }

a, button, input {
  -webkit-transition: all 500ms cubic-bezier(0.31, 0.21, 0, 0.935);
  transition: all 500ms cubic-bezier(0.31, 0.21, 0, 0.935);
  -webkit-transition-timing-function: cubic-bezier(0.31, 0.21, 0, 0.935);
  transition-timing-function: cubic-bezier(0.31, 0.21, 0, 0.935); }

/**
Header styles
*/
header {
  background: #14171c;
  height: 60px;
  top: 0px;
  left: 0px;
  width: 100%;
  position: fixed;
  z-index: 2000;
  overflow: hidden; }
  header nav ul {
    padding: 0px;
    margin: 0px; }
  header nav ul li {
    display: inline-block; }
  header nav ul li a {
    color: #4c545c;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0px;
    display: block;
    padding: 14px 15px;
    text-decoration: none;
    height: 60px;
    outline: 0;
    background: #14171c;
    border-bottom: 4px solid #14171c; }
    header nav ul li a:focus, header nav ul li a:visited {
      color: #fff; }
    header nav ul li a:hover {
      color: #fff;
      border-bottom: 4px solid #89bf40; }
  header nav ul li.user-profile a {
    padding: 8px 15px; }
    header nav ul li.user-profile a:hover {
      background: transparent; }
  header nav ul li.user-profile img {
    width: 44px; }

/**
Google map canvas */
#google-map-canvas {
  background: url("../images/ring.gif") center center no-repeat; }

#sidebar-left {
  width: 250px;
  background: #1d2228;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1500;
  height: 100%;
  padding-top: 60px;
  -webkit-transition: all 500ms cubic-bezier(0.31, 0.21, 0, 0.935);
  transition: all 500ms cubic-bezier(0.31, 0.21, 0, 0.935);
  -webkit-transition-timing-function: cubic-bezier(0.31, 0.21, 0, 0.935);
  transition-timing-function: cubic-bezier(0.31, 0.21, 0, 0.935); }

.toggle-sidebar-left {
  color: #fff;
  font-size: 24px;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0px;
  background: #14171c;
  padding: 3px 0px 0px 6px;
  top: 60px; }
  .toggle-sidebar-left:hover {
    color: #fff;
    background: #2f353c; }
  .toggle-sidebar-left:focus, .toggle-sidebar-left:visited {
    background: #14171c;
    color: #fff; }

.hide-sidebar-left {
  -webkit-transform: translateX(-250px);
  -ms-transform: translateX(-250px);
  transform: translateX(-250px); }
  .hide-sidebar-left .toggle-sidebar-left {
    right: -40px !important; }

/**
Side bar left menu
*/
section.user-info {
  display: block;
  background: #14171c;
  height: 100px;
  border-bottom: 2px solid #89bf40;
  padding: 15px; }
  section.user-info img {
    max-width: 64px;
    display: inline-block;
    float: left; }
  section.user-info h3 {
    display: inline-block;
    padding: 15px 0px 15px 15px;
    color: #fff;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    margin: 0px;
    float: left; }
    section.user-info h3 span {
      color: #5d6369;
      font-size: 12px; }

section.menu-left {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  section.menu-left nav {
    margin: 30px 0px 0px 0px; }
  section.menu-left nav > ul {
    padding: 0px;
    margin: 0px; }
    section.menu-left nav > ul li {
      list-style: none;
      display: block; }
      section.menu-left nav > ul li ul {
        padding: 0px 0px 0px 45px;
        display: none; }
        section.menu-left nav > ul li ul li a {
          padding: 10px 15px 10px 0px; }
          section.menu-left nav > ul li ul li a:hover {
            color: #eee; }
  section.menu-left ul li a {
    font-size: 17px;
    color: #5d6369;
    display: block; }
    section.menu-left ul li a span {
      display: inline-block;
      margin-right: 5px;
      font-size: 13px; }
  section.menu-left nav > ul > li > a {
    position: relative;
    padding: 10px 15px 10px 35px; }
    section.menu-left nav > ul > li > a:before {
      content: '';
      width: 4px;
      height: 0%;
      position: absolute;
      left: 15px;
      top: 0px;
      background: #1d2228;
      -webkit-transition: .3s ease;
              transition: .3s ease; }
    section.menu-left nav > ul > li > a:hover {
      color: #fff; }
      section.menu-left nav > ul > li > a:hover:before {
        background: #89bf40;
        height: 100%; }
  section.menu-left nav > ul > li.active > a {
    color: #fff;
    font-weight: bold; }
    section.menu-left nav > ul > li.active > a:before {
      background: #89bf40;
      height: 100%; }

/**
Sidebar right
*/
#sidebar-right {
  position: absolute;
  width: 390px;
  z-index: 1500;
  right: 0px;
  top: 0px;
  height: 100%;
  padding-top: 60px;
  -webkit-transition: all 500ms cubic-bezier(0.31, 0.21, 0, 0.935);
  transition: all 500ms cubic-bezier(0.31, 0.21, 0, 0.935);
  -webkit-transition-timing-function: cubic-bezier(0.31, 0.21, 0, 0.935);
  transition-timing-function: cubic-bezier(0.31, 0.21, 0, 0.935); }
  #sidebar-right > ul.nav-tabs {
    position: absolute;
    width: 44px;
    z-index: 1700;
    left: -44px;
    top: 140px;
    border: none; }
    #sidebar-right > ul.nav-tabs li {
      display: block;
      float: none;
      margin: 0px 0px 5px 0px; }
      #sidebar-right > ul.nav-tabs li a {
        background: #14171c;
        border: none !important;
        border-radius: 5px 0px 0px 5px;
        color: #ababab;
        height: 60px;
        width: 44px;
        padding-top: 20px; }
        #sidebar-right > ul.nav-tabs li a:hover {
          background: #2f353c;
          color: #fff; }
    #sidebar-right > ul.nav-tabs li.active a {
      background: #2f353c;
      color: #fff; }
  #sidebar-right .tab-pane {
    /* immeadiate next child */ }
    #sidebar-right .tab-pane > section > div {
      position: relative;
      padding: 30px 15px 15px 15px; }
    #sidebar-right .tab-pane h4 {
      display: block;
      font-size: 12px;
      font-weight: bold;
      color: #4c545c;
      margin: 0px;
      background: #1d2228;
      height: 32px;
      text-align: left;
      padding: 8px 15px;
      cursor: pointer;
      -webkit-transition: .1s ease;
              transition: .1s ease; }
      #sidebar-right .tab-pane h4 span {
        float: right;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        -webkit-transition: .3s ease;
                transition: .3s ease; }
      #sidebar-right .tab-pane h4:hover {
        background: #14171c; }
    #sidebar-right .tab-pane h4.active {
      background: #14171c; }
      #sidebar-right .tab-pane h4.active span {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg); }
    #sidebar-right .tab-pane .frame {
      border: thin solid #4c545c;
      position: relative;
      margin-bottom: 30px;
      padding: 15px; }
      #sidebar-right .tab-pane .frame label {
        color: #ababab;
        background: #2f353c;
        padding: 5px 15px;
        position: absolute;
        top: -15px;
        left: 5px; }
      #sidebar-right .tab-pane .frame p {
        font-size: 12px;
        color: #ababab;
        font-weight: normal;
        margin: 0px;
        padding-top: 5px; }
      #sidebar-right .tab-pane .frame button {
        width: 100%;
        text-align: left;
        background: #495058;
        border: thin solid #535d69;
        outline: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: #ababab;
        border-radius: 2px;
        cursor: pointer;
        padding: 3px 10px;
        height: 27px; }
        #sidebar-right .tab-pane .frame button span {
          display: inline-block;
          float: right;
          font-size: 12px;
          padding-top: 2px; }
        #sidebar-right .tab-pane .frame button span.value {
          float: none;
          padding: 0px;
          font-size: 13px; }
      #sidebar-right .tab-pane .frame .dropdown {
        position: relative; }
      #sidebar-right .tab-pane .frame ul.dropdown-menu {
        background: #495058;
        border: thin solid #535d69;
        border-radius: 2px;
        color: #ababab;
        margin-top: 1px;
        left: 15px;
        padding: 0px;
        min-width: 100%; }
        #sidebar-right .tab-pane .frame ul.dropdown-menu li {
          display: block;
          padding: 5px 10px;
          cursor: pointer;
          font-size: 12px; }
          #sidebar-right .tab-pane .frame ul.dropdown-menu li:hover {
            color: #fff; }
      #sidebar-right .tab-pane .frame .colour-picker {
        width: 27px;
        height: 27px;
        border-radius: 2px;
        border: thin solid #535d69;
        background: #495058;
        padding: 2px;
        cursor: pointer; }
        #sidebar-right .tab-pane .frame .colour-picker span.current {
          display: block;
          width: 21px;
          height: 21px;
          background: #89bf40; }
      #sidebar-right .tab-pane .frame .icon-add {
        color: #ababab;
        font-size: 12px;
        font-weight: bold;
        padding: 6px 10px;
        cursor: pointer; }
        #sidebar-right .tab-pane .frame .icon-add:hover {
          color: #fff; }
      #sidebar-right .tab-pane .frame div.divider {
        height: 1px;
        background: #4c545c;
        position: relative;
        display: block;
        clear: both;
        margin: 10px 0px; }
      #sidebar-right .tab-pane .frame span.badge {
        border-radius: 2px;
        border-right: thin solid #535d69;
        background: transparent;
        padding-right: 0px;
        font-weight: normal;
        color: #ababab; }
        #sidebar-right .tab-pane .frame span.badge a {
          color: #ababab;
          text-decoration: none; }
        #sidebar-right .tab-pane .frame span.badge span {
          display: inline-block;
          float: left;
          margin-right: 5px; }
        #sidebar-right .tab-pane .frame span.badge span.value {
          font-size: 12px;
          padding: 5px 5px; }
        #sidebar-right .tab-pane .frame span.badge span.current {
          background: #89bf40;
          width: 21px;
          height: 21px;
          padding: 0px 5px; }
        #sidebar-right .tab-pane .frame span.badge span.glyphicon-pencil {
          -webkit-transition: .3s ease;
          transition: .3s ease;
          cursor: pointer; }
          #sidebar-right .tab-pane .frame span.badge span.glyphicon-pencil:hover {
            color: #fff; }
        #sidebar-right .tab-pane .frame span.badge span.glyphicon-plus {
          padding: 3px 5px;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          -webkit-transition: .3s ease;
          transition: .3s ease;
          cursor: pointer; }
          #sidebar-right .tab-pane .frame span.badge span.glyphicon-plus:hover {
            color: #fff;
            -webkit-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
            transform: rotate(135deg); }
      #sidebar-right .tab-pane .frame input[type="text"] {
        background: #495058;
        border: thin solid #535d69;
        border-radius: 0px;
        color: #ababab;
        outline: 0;
        text-transform: uppercase;
        font-size: 12px;
        padding: 3px 10px;
        display: block;
        width: 100%; }
        #sidebar-right .tab-pane .frame input[type="text"]:focus {
          border: thin solid #6d7681; }
      #sidebar-right .tab-pane .frame span.line {
        display: inline-block;
        height: 2px;
        width: 20px; }
      #sidebar-right .tab-pane .frame span.long {
        height: 4px;
        width: 100px; }
      #sidebar-right .tab-pane .frame .mm span.value {
        float: left !important;
        padding-top: 7px !important; }
        #sidebar-right .tab-pane .frame .mm span.value span.line {
          float: left !important; }

.hide-sidebar-right {
  -webkit-transform: translateX(390px);
  -ms-transform: translateX(390px);
  transform: translateX(390px); }

.prefix-label .row {
  margin-bottom: 15px; }

.type-of-measurement .frame {
  padding-top: 25px !important; }
.type-of-measurement .row {
  margin-bottom: 15px; }

.type-of-cables span.badge {
  padding: 3px 2px; }
  .type-of-cables span.badge span, .type-of-cables span.badge span.value {
    margin-right: 0px !important; }

.select-pipe-types .col-sm-2 {
  padding: 0px 0px 0px 15px;
  width: 35px; }
.select-pipe-types .row {
  margin-bottom: 10px; }

.select-cable-types .row {
  margin-bottom: 10px; }
.select-cable-types .col-sm-2 {
  padding: 0px 0px 0px 15px;
  width: 35px; }

.select-measurement .row {
  margin-bottom: 10px; }

.parameter-layer {
  height: 500px; }
  .parameter-layer table {
    border: thin solid #4c545c;
    width: 100%; }
    .parameter-layer table tr {
      border-bottom: thin solid #4c545c; }
      .parameter-layer table tr td:first-child {
        padding: 7px 5px; }
      .parameter-layer table tr td {
        padding: 7px 15px;
        color: #ababab;
        font-size: 12px; }
  .parameter-layer .swiper-slide {
    height: 300px; }

.type-of-pipes .frame span.badge {
  border: none !important; }
.type-of-pipes .frame > .row1 .col-sm-4 {
  padding: 0px 3px 0px 15px;
  width: 136px; }
.type-of-pipes .frame > .row1 .col-sm-2 {
  width: 50px; }
.type-of-pipes .frame > .row1 .col-sm-3 {
  width: 90px; }
.type-of-pipes .frame > .row1 .dropdown {
  padding: 0px 2px; }
  .type-of-pipes .frame > .row1 .dropdown button {
    padding: 3px 5px !important; }
.type-of-pipes .frame > .row1 ul.dropdown-menu {
  left: 3px !important; }
.type-of-pipes .frame .icon-close {
  padding: 0px 2px; }
.type-of-pipes .frame .row2 {
  margin-bottom: 10px; }
  .type-of-pipes .frame .row2 .col-sm-5 {
    padding: 0px 5px 0px 15px;
    width: 136px; }
    .type-of-pipes .frame .row2 .col-sm-5 p > span {
      float: left;
      display: inline-block; }
    .type-of-pipes .frame .row2 .col-sm-5 span.line {
      float: left;
      display: inline-block;
      margin-top: 9px;
      margin-left: 5px; }
  .type-of-pipes .frame .row2 .col-sm-1.text-label {
    width: 12px; }
  .type-of-pipes .frame .row2 .col-sm-2.dropdown {
    padding: 0px 5px 0px 5px; }
  .type-of-pipes .frame .row2 .col-sm-3.dropdown {
    padding: 0px 5px 0px 5px;
    width: 115px; }
    .type-of-pipes .frame .row2 .col-sm-3.dropdown button {
      padding: 3px 5px !important; }
  .type-of-pipes .frame .row2 .icon-close {
    padding: 0px 2px; }
    .type-of-pipes .frame .row2 .icon-close span.badge {
      padding: 3px 0px; }
.type-of-pipes .frame .row3 {
  margin: 15px 0px 0px 0px; }
.type-of-pipes .frame .text-label {
  padding: 0px 2px; }

.type-of-closures .col-sm-2.dropdown {
  padding: 0px 5px; }
.type-of-closures .col-sm-3.dropdown {
  padding: 0px 5px; }
.type-of-closures table {
  width: 95%;
  margin: 0 auto; }
  .type-of-closures table tr {
    border-bottom: thin solid #4c545c; }
  .type-of-closures table tr td {
    font-size: 12px;
    color: #ababab;
    font-weight: normal;
    padding: 7px 15px 7px 15px; }
    .type-of-closures table tr td .icon-close span.badge {
      border: none !important;
      float: right;
      width: 25px; }
  .type-of-closures table tr td:last-child {
    padding-right: 0px; }
  .type-of-closures table tr:last-child {
    border: none; }

.create-new-team .row1 {
  margin-bottom: 15px; }
  .create-new-team .row1 .col-sm-3 {
    padding: 0px 5px 0px 15px; }
  .create-new-team .row1 .col-sm-6 {
    padding: 0px 5px 0px 5px; }
  .create-new-team .row1 .col-sm-3.dropdown {
    padding: 0px 15px 0px 5px; }
.create-new-team .row2 .col-sm-3 {
  padding: 0px 5px 0px 15px; }
.create-new-team .row2 .col-sm-9 {
  padding: 0px 15px 0px 5px; }
.create-new-team .row2 ul {
  padding: 0px; }
  .create-new-team .row2 ul li ul {
    padding-left: 30px; }
.create-new-team .row2 li label {
  color: #ababab !important;
  background: transparent !important;
  padding: 0px 0px 0px 5px !important;
  position: relative !important;
  top: auto !important;
  left: auto !important;
  font-size: 12px;
  font-weight: normal; }
.create-new-team .row3 {
  margin-bottom: 10px; }
  .create-new-team .row3 .col-sm-4 p {
    text-align: right; }
  .create-new-team .row3 button {
    float: left;
    width: 101px !important;
    margin-right: 5px;
    border: none !important;
    background: none !important;
    text-align: Center !important;
    font-size: 12px !important;
    font-weight: normal !important; }
  .create-new-team .row3 button.lightGreen {
    background: #89bf40 !important;
    color: #fff !important;
    margin-right: 0px;
    border-radius: 0px !important; }

.team-info table {
  width: 90%;
  border-bottom: thin solid #4c545c;
  margin: 0 auto; }
  .team-info table tr {
    display: block;
    cursor: pointer; }
    .team-info table tr th {
      font-weight: normal;
      color: #ababab;
      padding: 7px 5px;
      font-size: 12px; }
    .team-info table tr th span.glyphicon-menu-right {
      -webkit-transition: 0.3s ease;
      transition: 0.3s ease; }
  .team-info table tr.t-body {
    display: none !important; }
  .team-info table tr td {
    width: 100%;
    padding: 5px 15px 15px 30px; }
.team-info table.active tr th span.glyphicon-menu-right {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }
.team-info table.active tr.t-body {
  display: block !important; }
.team-info span.badge {
  padding: 0 !important;
  border: none !important; }

/**
Sidebar top
*/
#sidebar-top {
  position: absolute;
  width: 1280px;
  background: #fff;
  top: 60px;
  z-index: 1500;
  left: 50%;
  margin-left: -640px;
  padding: 15px;
  -webkit-transition: all 500ms cubic-bezier(0.31, 0.21, 0, 0.935);
  transition: all 500ms cubic-bezier(0.31, 0.21, 0, 0.935);
  -webkit-transition-timing-function: cubic-bezier(0.31, 0.21, 0, 0.935);
  transition-timing-function: cubic-bezier(0.31, 0.21, 0, 0.935); }
  #sidebar-top div.divider {
    height: 1px;
    background: #d8d8d8;
    margin: 15px 15px;
    clear: both; }
  #sidebar-top button {
    height: 27px; }
  #sidebar-top .btn-group {
    float: right; }
    #sidebar-top .btn-group button {
      padding: 3px 30px;
      font-size: 12px;
      margin-right: 15px;
      width: 164px; }
  #sidebar-top p {
    font-size: 12px;
    padding: 5px 15px 0px 0px;
    margin: 0px;
    text-align: right; }
  #sidebar-top .dropdown button {
    border: thin solid #d8d8d8;
    color: #999;
    font-size: 12px;
    font-weight: normal;
    width: 100%;
    text-align: left;
    padding: 3px 10px 3px 3px;
    border-radius: 2px;
    height: 29px; }
    #sidebar-top .dropdown button span.glyphicon {
      font-size: 12px;
      float: right;
      color: #999;
      padding-top: 1px; }
    #sidebar-top .dropdown button span.value {
      padding: 2px 0px 0px 3px;
      display: inline-block; }
    #sidebar-top .dropdown button span.box {
      width: 21px;
      height: 21px;
      border: thin solid #d8d8d8;
      display: inline-block;
      float: left;
      margin-right: 5px; }
  #sidebar-top .col-sm-3 > section .col-sm-6,
  #sidebar-top .col-sm-3 > section .col-sm-9 {
    padding: 0px; }
  #sidebar-top .col-sm-3 > section > .row {
    padding: 0px 0px 15px 0px;
    margin: 0px; }
  #sidebar-top button.lightGreen {
    width: 100%;
    font-size: 12px; }

.hide-sidebar-top {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%); }
  .hide-sidebar-top .toggle-sidebar-top span.glyphicon-menu-up {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

.toggle-sidebar-top {
  border-radius: 0px 0px 3px 3px;
  position: absolute;
  height: 27px;
  background: #fff;
  width: 150px;
  left: 50%;
  margin-left: -75px;
  padding: 3px 0px 0px 0px;
  bottom: -27px; }
  .toggle-sidebar-top span {
    -webkit-transition: .3s ease;
            transition: .3s ease; }
  .toggle-sidebar-top span {
    width: 100%;
    text-align: center;
    color: #9b9b9b; }

/**
Global Parameters
*/
#global-parameters,
#parameters,
.team-content {
  padding: 15px 0px 0px 0px;
  background: #2f353c;
  min-height: 1155px;
  box-shadow: 0px 0px 15px #000; }

.team-content {
  padding: 0px; }

#global-parameters > section > div,
#parameters > section > div {
  display: block; }

/**
Team container
*/
#team {
  padding: 0px 0px 0px 0px;
  margin: 15px 0px 0px 0px; }

/**
Home container
*/
#home {
  padding-top: 15px; }
  #home .nav-tabs {
    border: none;
    position: relative;
    height: 37px; }
    #home .nav-tabs li {
      z-index: 1500;
      margin: 0px 0px 0px 0px;
      height: 37px; }
      #home .nav-tabs li a {
        -webkit-transition: 0s ease;
        transition: 0s ease;
        color: #ababab;
        text-align: left;
        border: none !important;
        font-size: 12px;
        letter-spacing: -0.02em; }
      #home .nav-tabs li a[href="#global-parameters"] {
        background: url("../images/pa-bg.png") bottom left no-repeat;
        width: 200px;
        height: 37px;
        position: absolute;
        left: 0px;
        top: 0px; }
        #home .nav-tabs li a[href="#global-parameters"]:hover, #home .nav-tabs li a[href="#global-parameters"]:active, #home .nav-tabs li a[href="#global-parameters"]:focus {
          color: #ababab;
          background: url("../images/pa-bg.png") top left no-repeat; }
      #home .nav-tabs li a[href="#parameters"] {
        background: url("../images/pa-bg.png") bottom left no-repeat;
        width: 220px;
        height: 37px;
        position: absolute;
        left: 190px;
        top: 0px; }
        #home .nav-tabs li a[href="#parameters"]:hover, #home .nav-tabs li a[href="#parameters"]:active, #home .nav-tabs li a[href="#parameters"]:focus {
          color: #ababab;
          background: url("../images/pa-bg.png") top left no-repeat; }
    #home .nav-tabs li.active {
      color: #ababab;
      z-index: 1700; }
      #home .nav-tabs li.active a[href="#global-parameters"] {
        background: url("../images/pa-bg.png") top left no-repeat; }
      #home .nav-tabs li.active a[href="#parameters"] {
        background: url("../images/pa-bg.png") top left no-repeat; }

/**
Media queries
*/
@media (max-width: 1199px) {
  .container {
    width: 100%; } }
@media (max-width: 1023px) {
  .container {
    width: 100%; } }
@media (max-width: 767px) {
  .container {
    width: 100%; } }
/*/////////////////////////////////////////////////////////////*/
/*                     media queries                           */
/*/////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////*/
/*                     Tablet Landscapes                       */
/*/////////////////////////////////////////////////////////////*/
/**
* Media query - small desktops / ipads
*/
/*/////////////////////////////////////////////////////////////*/
/*                     Table Portrait                          */
/*/////////////////////////////////////////////////////////////*/
/**
* Media query - ipad portrait
*/
/*/////////////////////////////////////////////////////////////*/
/*                     Smart Phone                             */
/*/////////////////////////////////////////////////////////////*/
/**
* Media query -  smart mobiles
*/
